

.dropdown-content{
    position: absolute;
    top:100%;
    transform: scale(0);
    z-index: 1;
    text-align: center;
}

.dropdown-trigger:hover .dropdown-content{
    transform: scale(1);
}

div.dropdown-information.drop {
    display: none;} 

.zoom-up{
    transition: transform .2s; /* Animation */
      }
      
.zoom-up:hover {
    transform: scale(1.5);
      }


@media screen and (max-width: 960px){
    nav.responsive {
        display: none;} 
}
@media screen and (min-width: 960px){}