

.dropdown-content{
    position: absolute;
    top:100%;
    transform: scale(0);
    z-index: 1;
    text-align: center;
}

.dropdown-trigger:hover .dropdown-content{
    transform: scale(1);
}

div.dropdown-information.drop {
    display: none;} 

.zoom-up{
    transition: transform .2s; /* Animation */
      }
      
.zoom-up:hover {
    transform: scale(1.5);
      }

.shodowing {
  transition: box-shadow .3s;
}

    
a:hover img.shodowing {
    -moz-box-shadow: 1px 1px 15px #999;
    -webkit-box-shadow: 1px 1px 15px #999;
        box-shadow: 1px 1px 15px #999;
}
 
a:hover {
    color: var(--orange);
  }
.hyperlink:hover {
    color: var(--orange);
  }
.productpage-information >div >a:hover{
    color: var(--pink);
}

.footer-font > tr>td>a{
    font-family:var(--secondary-font);
    color: var(--grey);
    font-weight: 500;
    text-decoration: none;
}

.footer-font > tr>td>a:hover{
    color: var(--orange);}


    .footer-font-small >div >a{
        display: inline-block;
        font-family:var(--secondary-font);
        color: var(--grey);
        font-weight: 500;
        text-decoration: none;
    }

.product-card-icons > a >img{transition: transform .2s;
}

.product-card-icons > a >img:hover{
    transform: scale(1.5);

}
.product-card > a>img{transition: box-shadow .3s;}
.product-card > a>img:hover{
    -moz-box-shadow: 1px 1px 15px #999;
    -webkit-box-shadow: 1px 1px 15px #999;
        box-shadow: 1px 1px 15px #999;
}

.product-card > a >p.product-font:hover{
    color: var(--orange);
}



@media screen and (max-width: 960px){
    nav.responsive {
        display: none;} 
}
@media screen and (min-width: 960px){}