input[type="submit"], input[type="reset"] {
	background: none;
	color: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input, textarea, select{
    border-radius:0.3em;
    border:0.5px #D3C1B3 solid;
    background-color: white;
    vertical-align: middle; /*text alignment*/
    }

/*btn setting*/
.btn{
    display: inline-block;
    font-family: var(--UI-font);
    font-weight: bold;
    background-color: var(--orange);
    text-decoration: none;
    padding: 4px 16px 6px 16px;
    text-align: center;
    color: var(--pink);
    font-size: 16px;
    margin: 4px 2px;
    transition: all 0.3s;
    border: none;
    border-radius: 0.5em;
    line-height:16px;
}


/*btn variation 
<div class="btn  btn-small">small</div>*/
.btn-small{
    font-size: 12px;
}

.btn-large{
    font-size: 16px;
    max-width: 96px;
    }

.btn-align-right{
    margin-left: auto;

}

.btn-align-center{
    margin-left: auto;
    margin-right: auto;
}






.btn__sign-in{
    background-color: rgba(43, 57, 42, 0.2);
    border: 1px solid var(--orange);
    color: var(--orange);
    display: inline-block;
    font-family: var(--UI-font);
    text-decoration: none;
    padding: 3px 12px 4px 12px;
    text-align: center;
    font-size: 14px;
    transition: all 0.3s;
    border-radius: 0.5em;
    line-height:14px;
}

.btn__sign-in:hover{
    background-color: var(--orange);
    border: none;
    color: var(--pink);
}

.btn__calculate{
    max-width: 170px;
}

.btn_addtoCart{
    font-size: 8px;
    padding: 3px 6px 4px 6px;
}

.btn_Submit{
    font-size: 6px;
    padding: 3px 6px 4px 6px;

}

.side-email{
    max-height: 20px;
    max-width: 30px;
}

/*status of button*/

.btn:disabled{
    background-color: var(--grey);
    color: white;
    border: 2px solid white;
}

.btn-danger{
    background-color: Transparent;
    border: none;  
    height: 20px;
    width: 20px;
    

}

.btn:hover,
button:focus {
    background: white;
    border: 2px solid var(--orange);
    color: var(--orange)
}


.btn:active {
    transform: scale(0.99);
}

.checkout-button{
    width: 130px;
}




/* icon */

img.icon-shoppingCart-middle{
    height: 20px;
}


img.icon-shoppingCart{
    height: 15px;
    padding-right: var(--space-xs);
}

.icon-s{
    max-width: 20px;
}

.bankcard{
    max-width: 100px;
    margin-left: 10px;
}
.question-mark{
    max-width: 10px;
}

.footer-icons > a>img{
    max-width: 90px;
    padding-top: 10px;

}