@import url("/css/colous.css");
@import url("/css/typography.css");










.footer-container{
    width: 100%;
    padding-top: 5em;
    padding-left: 12.5%;
    padding-right: 12.5%;
    display: flex;
    justify-content: space-around;

}
table{
    width: 75%;
    margin-left: 12.5%;
    table-layout: fixed;
}
tbody{
    display: table-row-group;
}
tr{
    display: table-row;
    border-color: none;
    height: 1em;
}
td{
    display: table-cell;
    vertical-align:top;
}
.footer-col0{
    width: 25%;
    height: 100px;
    float: left;
    text-align: center;
}
.footer-icons{
    height: 25px;
}

