@import url("/css/colous.css");
@import url("/css/typography.css");



.page{
    display:grid;
    position: relative;
    max-width: 75vw;
    height: auto;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 20px;
    background-image: url('../images/background2.jpg');
   
;
    /*remember to make it responsive
    grid-auto-flow: column;
    */
}

.banner{
    background-color: #CF5231;
    height: 25px;
    width: 100vw;
    text-align: center;
}
.banner > h5{ 
    color: white;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;}


.logoRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /*bottom of the block*/
    grid-row:1/2;
    grid-column:1/3;
    margin-left: 5%;
    margin-right: 5%;
}


.logo-image{
    max-width: 200px;
}
.logoRaw-menu{
    display: none;
}

.searchBar{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-height: 25px;

}
.searchBar > form{
    display: flex;
    border: 2px #D0C6AC;
    border-radius: 5px;
    max-width: 600px;
    align-items: flex-end;
    gap: 5px;


}
.searchBar > form > input{
    height: 35px;
    width: 300px;
    padding: 5px;
    background-color: white;
    vertical-align: middle;
}

.searchBar > form > a >img.search-icon{

    max-width: 20px;
    padding-bottom: 5px;
    
}


.icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 125px;
    padding-bottom: 5px;
}

ul.icons > li > img{
    max-height: 20px;
}

nav{
    align-items: center;
    grid-row:2/3;
    grid-column:1/3;
    padding-top: 20px;    
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
 }

  
nav > ul{
    max-width: 100%;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    

}


/* ul.dropdown-content.responsive { 
    display: none;
}*/

.dropdown-trigger{
    position: relative;
}
.dropdown-content{
    position: absolute;
    top:100%;
    transform: scale(0);
    z-index: 1;
}

.dropdown-trigger:hover .dropdown-content{
    transform: scale(1);
}



nav > ul > li a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    color: #D3C1B3;
    display: block;
    text-align: center;
    padding:10px 1rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
nav > ul > li a:hover {
    background-color: #A64C30;}
  
sidebar{
    grid-column:1/2;
    border-right: 2px solid #707070;
    padding: 75px 17.5% 0 17.5%;

}

.margin{
    margin-bottom: 10px;
    margin-top: 10px;
}

.sidebar-a > img{
    width: 100%;
    border-color: #D3C1B3;
    border-style: solid;
    border-width: 3px;
    border-radius: 33px;
}

.sidebar-a > p{
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight:400;
}
.sidebar-a > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.sidebar-b{
    padding-top: 50px;
}
.sidebar-b > img{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;}

.sidebar-b > form{
    width: 100%;}

.sidebar-b > form > input{
    max-width: 70%;}

.sidebar-c{
    padding-top: 50px;
}

.sidebar-c > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}



img.storeImg{
    width: 80%;
    text-align: center;
}

.sidebar-heading{
    text-align: center;
}

.sidebar-icon{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.sidebar-icon > img{ 
    max-height: 15px;
    margin-top: 10px;
}

main{
    grid-row:3/4;
    grid-column:2/3;
    display: flex;
    flex-direction: column;
    gap:2em;
}

.path{    
    text-align: start;
    padding: 10px 0 0 10px;
    padding-bottom: 25px;
}
.path-item{
    display: inline-block;
}
.path-separator{
    display: inline-block;
}



.main-padding{
    padding-left: 12.5%;
    padding-right: 12.5%;
}



.main-a{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.main-a > img{
    max-width: 100%;
}
.main-a > p{
    text-align: center;}


.main-b{
    width: 100%;
    padding-top: 40px;
}
.group-bookwelike{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    flex-wrap: wrap;

}
.product-card{
    max-width: 21%;
    padding-top: 15px; 


}
.group-bookwelike > .product-card > img{
    border-color: #D3C1B3;
    border-style: solid;
    border-width: 2px;
    border-radius: 11px;
    width: 100%;
    flex: 1 1 auto;
    max-height: 324px;
    max-width: 178px;
    margin-bottom: 5px;

}

.product-card-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 25px;
    margin-top: 8px;
}
.product-card > div > a > img{
    max-height: 15px;}


section.main-c{
    margin-top: auto;
}
section.main-c > img{
    width: 100%;}
.see-all{
    text-align: right;
    padding-top: 50px;
}









footer{
    background-color: #2A321C;
    height: 275px;
    margin-top: 5em;

}
.footer-container{
    width: 100%;
    padding-top: 5em;
    padding-left: 12.5%;
    padding-right: 12.5%;
    display: flex;
    justify-content: space-around;

}
table{
    width: 75%;
    margin-left: 12.5%;
    table-layout: fixed;
}
tbody{
    display: table-row-group;
}
tr{
    display: table-row;
    border-color: none;
    height: 1em;
}
td{
    display: table-cell;
    vertical-align:top;
}
.footer-col0{
    width: 25%;
    height: 100px;
    float: left;
    text-align: center;
}
.footer-icons{
    height: 25px;
}


/*product listing page*/
.productlisting-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color: #CF5231;
    flex-wrap: wrap;}

.product-card-2{
    background-color:rgb(0,255,0,0.25); 
    max-width: 23%;
    padding-top: 15px;
    justify-self: center;
}

.group-productlisting > .product-card-2 > img{
    border-color: #D3C1B3;
    border-style: solid;
    border-width: 2px;
    border-radius: 11px;
    width: 100%;
    flex: 1 1 auto;
    max-height: 324px;
    max-height: 178px;
    }
