@import url("/css/colous.css");
@import url("/css/typography.css");

.padding-10{
    padding-top: 20px;
}


div.banner{
    display: none;
}

.page{
    display:flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image: url('../images/background2.jpg');
    grid-auto-rows: minmax(100px, auto);
;}

.logoRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /*bottom of the block*/
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}

.searchBar{
    display: flex;
    align-items: flex-end;
    max-height: 25px;}

.searchBar > form{
    display: flex;
    border: 2px #D0C6AC;
    border-radius: 5em;
    max-width: 600px;
    align-items: flex-end;
    gap: 5px;}



a.logo-image{display: none;}

.searchBar > form > a >img.search-icon{
    max-height: 25px;
}


.icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 125px;
    height: 30px;
    padding-bottom: 5px;
}

ul.icons > li:nth-child(-n+2){
display: none;
}
ul.icons > li >img{
    height: 30px;
    }

nav{background-color: var(--pink);
    width: 100%;
    position: relative;
    text-align: center;
}

nav > ul > li{
    padding: 10px;
    border-bottom: 2px solid #707070;}

nav > ul > li >a{
    color: var(--orange);}



.hamburger:hover{
    background-color: var(--grey);
}

.dropdown-content{
    position: absolute;
    top:100%;
    transform: scale(0);
    z-index: 1;
}

.dropdown-trigger:hover .dropdown-content{
    transform: scale(1);
}

nav > ul > li:hover {
    background-color: #A64C30;}


ul.responsive {
    display: none;
}


sidebar{
    width: 100%;
}
.sidebar-a > p{
    display: none;}

.sidebar-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
margin-top: 40px;} 

.sidebar-a > div{
    display: flex;
    flex-direction: column;
    align-items: center;}    


.sidebar-b{
    display: none;}

.sidebar-c{
    display: none;}



main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap:2em;
    width:100%;
    padding-left: 5%;
    padding-right: 5%;}

.path{  
    display: none;}


.main-a{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.main-a > img{
    max-width: 100%;
}
.main-a > p{
    text-align: center;}


.main-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}
.main-b > h1{
    display: flex;
    justify-items: center;}

.group-bookwelike{
    
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

}
.group-bookwelike > .product-card{
    max-width: 30%;
    padding-top: 15px;
    justify-self: center;
}
.group-bookwelike > .product-card > img{
    border-color: var(--pink);
    border-style: solid;
    border-width: 1px;
    border-radius: 11px;
    width: 100%;
    flex: 1 1 auto;
    margin-bottom: 7px;
}


.product-card-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}


.product-card > div > a > img{
    max-height: 12px;}

.see-all a {
    text-align: end;
}

.main-c{
    display: none;
}
