:root{
    --space-unit:1em;
    --space-xxs: calc(0.25 * var(--space-unit));/*4px */
    --space-xs: calc(0.5 * var(--space-unit));/*8px */
    --space-sm: calc(0.75 * var(--space-unit));/*12px */
     --space-md: calc(1.25 * var(--space-unit)); /*20px */
    --space-lg: calc(2 * var(--space-unit));/*32px */
    --space-xl: calc(3.25 * var(--space-unit));/*52px */
    --space-xxl: calc(5.25 * var(--space-unit));/*84px */
}





.title{
    padding-bottom: var(--space-xs);}

/* product listing */


/*product page*/

.dropdown-arrow{
    padding-left: var(--space-sm);}

img.heart{padding-left: var(--space-xxs);}

.productpage-information {
    gap: var(--space-xs);
}

.productpage-book{
    padding-left: var(--space-sm);
    gap: var(--space-sm);

}

.productpage-book > div {    
    gap: var(--space-xxs);    
    padding-top: var(--space-sm);

}
.productpage-rating{
    padding-right: var(--space-xxs);
}

.main-padding{
    padding-left: 5%;
    padding-right: 5%;}  


.dropdown-information{
    gap: var(--space-xxs);
}

.dropdown-information > div > a >img{
    padding-right: var(--space-xs);}

#reviewTable{
    margin-bottom: var(--space-md);
    background: none;
}
.reviewer-information{
    padding-bottom: var(--space-sm);
    padding-top:var(--space-xxs);
}

/* shopping cart */
.main-shoppingCart{
    padding-top: var(--space-xl);
    gap:var(--space-lg);
    padding-bottom: var(--space-xl);}

.cart-items{
    gap:var(--space-sm)
}

.cart-row{
    gap:var(--space-sm)
}

.stage-number {
    padding-right: 19px;
}
.stage-name {
    padding-left: 5px;
}

.line-botton-padding{
    padding-bottom: var(--space-xxs);
}

/* checkout */
main.checkout-page{
    padding-top: var(--space-xl);
    flex-direction: column;
    gap:var(--space-lg);
}

.checkout-bar{
    padding-bottom: var(--space-sm);}

.icon-star{
    padding-left: var(--space-xxs);}

.dropdown-information>div > form> input, select{
    margin-bottom: var(--space-xs);}

/* review */
.coupon-input{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.review-price{
    gap:var(--space-sm)
}
.review-total{
    padding-top: var(--space-sm);
}

.review-price{
    margin-top: var(--space-lg);
}

/* complete */
.complete-message{ 
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    margin:var(--space-xs) 12.5% 0 12.5% ;
}

main.complete-page{
    padding-top: var(--space-xl);
    flex-direction: column;
    gap:var(--space-lg);
    padding-bottom: var(--space-xl);
}




@media screen and (max-width: 960px) {
    :root{
        --space-unit: 1em;
    }


    .logoRow{
        margin-left: 5%;
        margin-right: 5%;
        padding-top: var(--space-md);}

    .icons{
        padding-bottom: var(--space-xxs);}


    .page{
        margin-left: 2.5%;
        margin-right: 2.5%;}
    

    .dropdown-content > li{
        padding: var(--space-sm);
    }

    nav > ul > li{
        padding: var(--space-xs);
    }
    

    .group-bookwelike > .product-card > a > img{
    margin-bottom: var(--space-xs);}

    .product-card.productlisting{
        padding-bottom: var(--space-sm);
    }
    .main-productListing{
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
    }

    .page-number{
    gap:var(--space-xs)
    }
    

    /* product page */
    .main_productPage{
        gap: var(--space-md);
        padding-top: var(--space-xxl);
    }

    .productpage-container > img{
        width: 300px;
    }
    .productpage-rating{
        width: 100px;
        padding-top: var(--space-sm);
    }



    /* review page */
    main.checkout-page{
        padding-bottom: var(--space-xl);}

    footer-font-small-continer{
        margin-left: 30%;
        margin-right: 30%;
        
    }
    .footer-col0{
        margin-top: auto;
    }

}





@media screen and (min-width: 960px) {
    .main-padding{
        padding-left: 12.5%;
        padding-right: 12.5%;}  

    :root{
        --space-unit: 1.25em;
    }

    nav{
        padding-top: var(--space-md)
    }

    nav > ul{        
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);}


    main{        
        gap:var(--space-lg);}

  
    
    section.main-b.main-padding{
        padding-top:0;
    }
    
    
    .group-bookwelike > .product-card > a > img{
    margin-bottom: var(--space-xxs);}

    

    
}


.padding-dropdown{
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
}
.padding-cart-row{
padding-left: var(--space-sm);
padding-right: var(--space-sm);
}

.small-padding{
padding: var(--space-sm);

}

.padding-section{
padding-top: var(--space-lg);
padding-bottom: var(--space-lg);}

.button-set{
gap: var(--space-xs);
}

.xsmall-padding-top{
    padding-top: var(--space-xxs);
    }

.small-padding-top{
padding-top: var(--space-sm);
}

.small-padding-bottom{
padding-bottom: var(--space-sm);
}

.small-gap{
gap:var(--space-xs);
}

.middle-gap{
gap:var(--space-md)
}
.large-gap{
gap: var(--space-xl);
}


.small-margin{
    margin: var(--space-sm);
}
.small-side-margin{
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

.large-side-margin{
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
}

.small-right-margin{
    margin-right: var(--space-sm);
}


.xs-margin{
    margin: var(--space-xs);
}
