/*load different file for different size of screen*/
@import url("/css/colous.css");
@import url("/css/typography.css");
@import url("/css/newstyle.css");
@import url("/css/spacing.css");
@import url("/css/animation.css");
@import url("/css/layout.css") screen and (min-width: 960px);


/*import font family from google font*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,500&family=Raleway:wght@400;500&display=swap');

    /*box model fix for the whole websit*/
html{box-sizing: border-box;}

*,*:before, *:after{
    box-sizing: inherit;}

body{
    background-color: var(--pink); 
    margin: 0;
    width:100%;
    height:100%;}

/*styling the text input*/
input, textarea, select{
    border-radius: 9px;
    border:2px #D3C1B3 solid;
    background-color: white;
    vertical-align: middle; /*text alignment*/
    }

/* *{transition: all 1.5s ease-in-out;} */

/*  
<img src="" size="(max-width:480px) 100vw, (the image fill 100% of the view port width)
                   (max-width:960px) 70vw, 
                    240px" (if not the situation  upper, size = 240px>*/


