


/*apply rule set base on the screen size*/

/*set font type and size, and can call it again by using var()*/


h1{font-size:2.5rem; /*40px*/}
h2{font-size: 2.25rem; /*36px*/}
h3{font-size: 1.875rem; /*30px*/}
h4{font-size: 1.5rem; /*24px*/}
h5{font-size: 1.25rem; /*20px*/}
p{font-size: 1rem; /*16px*/}
h6{font-size: 0.7rem; /*12px*/}

:root{
    --font-size-xs: 0.7rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 3rem;
}

:root{
    --line-height-sm: 1.25;
    --line-height-md: 1.5;
}

:root{
    --primary-font:'Cormorant Garamond', serif;
    --secondary-font:'Raleway', sans-serif;
    --UI-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-wideth:768px){
    html{font-size: 12px;}
}

@media screen and (min-wideth:1024px){
    html{font-size:14px;}
    
}

@media screen and (min-wideth:1200px){
    html{font-size: 16px;}
} 
/*use at least 16px for body/input*/


.primary-font{
    font-family: var(--primary-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}
.ui-font{
    font-family: var(--UI-font);}


nav > ul > li a {
    font-family: var(--primary-font);
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;}

.dropdown-content li >a{
    font-family: var(--primary-font);
    font-size: 0.8rem;}
  

p{
    font-family: var(--secondary-font);
    font-size: 1rem;
    hyphens: auto;
    line-height: 1.2rem;}




.title{
    font-family: var(--primary-font);
    font-style: Italic;
    font-size: 1.7rem;
    font-weight: 100;
}

.sidebar-heading{
    font-size: 0.8rem;
}


.title__section{    
    text-align: center;}

.title__main{
    text-align:left;
}

.title__productpage{
    font-size: 1.6rem;
}


.product-font{
    font-family: var(--secondary-font);
    color: #D3C1B3;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.sidebar-price{    
    font-family:  var(--secondary-font);
    color: #D3C1B3;
    font-weight: 400;

}

.path-font{    
    font-family: var(--UI-font);
    font-size:1rem;}



.author-name{
    font-size: 0.8rem;
    color: #A19D9D;
}

.price-product-listing{
    text-align: center;
    font-size: 1rem;
}



/* productpage */
.information{
    font-family: var(--UI-font);
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;

}

.productpage-btn >div> a{font-size: 0.8rem;}

a.productInfo{
    font-family: var(--primary-font);
    text-decoration: none;
    font-size: 1.5rem;
}



.hyperlink{
    font-family: var(--UI-font);
    font-size: 1rem;
}

.reviewer-name{
    font-family: var(--UI-font);
    font-size: 1rem;
    font-weight: 500;

}